.menu {
    display: flex;
    align-items: center;
    width: 1140px;
}

.menu__logo {
    font-family: 'Kanit', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .43em;
    text-transform: uppercase;
}

.menu__nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 55px;
}

.menu__link {
    text-transform: lowercase;
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}

.menu__button {
    font-family: 'Kanit', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .43em;
    text-transform: uppercase;
    color: #FFF;
    background: none;
    border: solid 1px #6D7D7D;
    box-shadow: none;
    border-radius: 20px;
    padding: 7px 32px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    transition: scale 0.2s ease-in-out;
}

.menu__button:hover {
    background-color: #6D7D7D40;
    scale: 1.05;
}

.menu__button:active {
    background: none;
    scale: 1;
}
