.menu {
    display: flex;
    align-items: center;
    width: 1140px;
}

.menu__nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 55px;
}

.menu__link {
    text-transform: lowercase;
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}

.menu__button {
    border-radius: 20px;
    padding: 7px 32px;
}
