@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page.css');
@import url('../blocks/header.css');
@import url('../blocks/menu.css');
@import url('../blocks/hero.css');
@import url('../blocks/content.css');
@import url('../blocks/about.css');
@import url('../blocks/hire.css');
@import url('../blocks/teams.css');
@import url('../blocks/companies.css');
@import url('../blocks/services.css');
@import url('../blocks/gallery.css');
@import url('../blocks/blog.css');
@import url('../blocks/article.css');
@import url('../blocks/newsletter.css');
@import url('../blocks/contacts.css');
@import url('../blocks/footer.css');


html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Kanit', Arial, sans-serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-family: 'Kanit', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .43em;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 16px;
    letter-spacing: .43em;
    text-transform: uppercase;
    color: #6D7D7D;
}

p {
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    margin: 0;  
}

button {
    font-family: 'Kanit', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .43em;
    text-transform: uppercase;
    color: #FFF;
    background: none;
    border: solid 1px #6D7D7D;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    transition: scale 0.2s ease-in-out;
}

button:hover {
    background-color: #6D7D7D40;
    scale: 1.05;
}

button:active {
    background: none;
    scale: 1;
}